In [54]:
import tensorflow as tf
import pandas as pd

In [55]:
df=pd.read_csv('/content/Attrition.csv')

In [56]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [57]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [58]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.metrics import accuracy_score

In [59]:
x=df.drop(axis=1,columns=['Attrition'])
y=df['Attrition']

In [60]:
#categorical features
Categorical_features=['BusinessTravel',
                      'Department',
                      'EducationField',
                      'Gender',
                      'JobRole',
                      'MaritalStatus',
                      'Over18',
                      'OverTime']

In [82]:
x_encoded=pd.get_dummies(x,columns=Categorical_features,drop_first=True)
x_encoded = x_encoded.astype(int)

x_encoded

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0,0,0,0,0,1,0,0,1,1
1,49,279,8,1,1,2,3,61,2,2,...,0,0,0,0,1,0,0,1,0,0
2,37,1373,2,2,1,4,4,92,2,1,...,1,0,0,0,0,0,0,0,1,1
3,33,1392,3,4,1,5,4,56,3,1,...,0,0,0,0,1,0,0,1,0,1
4,27,591,2,1,1,7,1,40,3,1,...,1,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,884,23,2,1,2061,3,41,4,2,...,1,0,0,0,0,0,0,1,0,0
1466,39,613,6,1,1,2062,4,42,2,3,...,0,0,0,0,0,0,0,1,0,0
1467,27,155,4,3,1,2064,2,87,4,2,...,0,0,1,0,0,0,0,1,0,1
1468,49,1023,2,3,1,2065,4,63,2,2,...,0,0,0,0,0,1,0,1,0,0
1469,34,628,8,3,1,2068,2,82,4,2,...,1,0,0,0,0,0,0,1,0,0

In [83]:
lb=LabelEncoder()
y_encoded=lb.fit_transform(y)
y_encoded

array([1, 0, 1, ..., 0, 0, 0])

In [84]:
x_train,x_test,y_train,y_test=train_test_split(x_encoded,y_encoded,test_size=0.2,random_state=42)

In [85]:
x_encoded.shape

(1470, 47)

In [86]:
sc=StandardScaler()
x_train_scaled=sc.fit_transform(x_train)
x_test_scaled=sc.transform(x_test)
print(x_train.shape)
print(x_test.shape)

(1176, 47)
(294, 47)

In [87]:
model=tf.keras.Sequential([
    tf.keras.layers.Dense(128,activation='relu',input_dim=x_train_scaled.shape[1]),
    tf.keras.layers.Dropout(0.3),
    tf.keras.layers.Dense(64,activation='relu'),
    tf.keras.layers.Dropout(0.3),
    tf.keras.layers.Dense(1,activation='sigmoid')
])

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [88]:
loss_fun=tf.keras.losses.BinaryCrossentropy()

In [89]:
learning_rate=0.001
momentum=0.9
optimizer=tf.keras.optimizers.SGD(learning_rate=learning_rate,momentum=momentum,nesterov=True)

In [90]:
model.compile(optimizer=optimizer,loss=loss_fun,metrics=['accuracy'])
x_test

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
1041,28,866,5,3,1,1469,4,84,3,2,...,0,0,0,0,0,1,0,0,1,0
184,53,1084,13,2,1,250,4,57,4,2,...,0,0,1,0,0,0,0,0,0,0
1222,24,240,22,1,1,1714,4,58,1,1,...,0,0,0,0,0,0,0,1,0,0
67,45,1339,7,3,1,86,2,59,3,3,...,0,0,0,0,1,0,0,0,0,0
220,36,1396,5,2,1,304,4,62,3,2,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567,34,304,2,3,1,786,4,60,3,2,...,0,0,0,0,0,1,0,0,1,0
560,34,167,8,5,1,775,2,32,3,2,...,0,0,1,0,0,0,0,0,0,0
945,50,1322,28,3,1,1317,4,43,3,4,...,0,0,0,1,0,0,0,1,0,1
522,37,1225,10,2,1,715,4,80,4,1,...,0,0,0,0,1,0,0,0,1,0
651,47,249,2,2,1,903,3,35,3,2,...,0,0,0,0,0,1,0,1,0,1

In [91]:
model.fit(x_train,y_train,epochs=50,batch_size=8,validation_split=0.2)

Epoch 1/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 2s 5ms/step - accuracy: 0.7368 - loss: 32611480520097792.0000 - val_accuracy: 0.7966 - val_loss: 0.6177
Epoch 2/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8352 - loss: 781148.8750 - val_accuracy: 0.7924 - val_loss: 1.3105
Epoch 3/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8429 - loss: 0.5279 - val_accuracy: 0.7924 - val_loss: 1.2809
Epoch 4/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.8510 - loss: 0.4871 - val_accuracy: 0.7924 - val_loss: 1.2646
Epoch 5/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 4ms/step - accuracy: 0.8630 - loss: 0.4539 - val_accuracy: 0.7924 - val_loss: 1.2563
Epoch 6/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.8396 - loss: 0.4641 - val_accuracy: 0.7924 - val_loss: 1.2515
Epoch 7/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8492 - loss: 0.4449 - val_accuracy: 0.7924 - val_loss: 1.2491
Epoch 8/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 4ms/step - accuracy: 0.8470 - loss: 0.4418 - val_accuracy: 0.7924 - val_loss: 1.2480
Epoch 9/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 5ms/step - accuracy: 0.8359 - loss: 0.4526 - val_accuracy: 0.7924 - val_loss: 1.2477
Epoch 10/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 5ms/step - accuracy: 0.8458 - loss: 0.4367 - val_accuracy: 0.7924 - val_loss: 1.2478
Epoch 11/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 5ms/step - accuracy: 0.8526 - loss: 0.4253 - val_accuracy: 0.7924 - val_loss: 1.2481
Epoch 12/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 4ms/step - accuracy: 0.8548 - loss: 0.4206 - val_accuracy: 0.7924 - val_loss: 1.2485
Epoch 13/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8523 - loss: 0.4231 - val_accuracy: 0.7924 - val_loss: 1.2491
Epoch 14/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 4ms/step - accuracy: 0.8350 - loss: 0.4486 - val_accuracy: 0.7924 - val_loss: 1.2495
Epoch 15/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8380 - loss: 0.4437 - val_accuracy: 0.7924 - val_loss: 1.2499
Epoch 16/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8630 - loss: 0.4044 - val_accuracy: 0.7924 - val_loss: 1.2503
Epoch 17/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8276 - loss: 0.4596 - val_accuracy: 0.7924 - val_loss: 1.2508
Epoch 18/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 3ms/step - accuracy: 0.8230 - loss: 0.4670 - val_accuracy: 0.7924 - val_loss: 1.2511
Epoch 19/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 4ms/step - accuracy: 0.8323 - loss: 0.4522 - val_accuracy: 0.7924 - val_loss: 1.2515
Epoch 20/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 4ms/step - accuracy: 0.8486 - loss: 0.4260 - val_accuracy: 0.7924 - val_loss: 1.2517
Epoch 21/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 4ms/step - accuracy: 0.8496 - loss: 0.4243 - val_accuracy: 0.7924 - val_loss: 1.2519
Epoch 22/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8240 - loss: 0.4659 - val_accuracy: 0.7924 - val_loss: 1.2520
Epoch 23/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 3ms/step - accuracy: 0.8280 - loss: 0.4593 - val_accuracy: 0.7924 - val_loss: 1.2521
Epoch 24/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 3ms/step - accuracy: 0.8484 - loss: 0.4261 - val_accuracy: 0.7924 - val_loss: 1.2523
Epoch 25/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8340 - loss: 0.4495 - val_accuracy: 0.7924 - val_loss: 1.2525
Epoch 26/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8220 - loss: 0.4693 - val_accuracy: 0.7924 - val_loss: 1.2526
Epoch 27/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8393 - loss: 0.4408 - val_accuracy: 0.7924 - val_loss: 1.2528
Epoch 28/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8272 - loss: 0.4608 - val_accuracy: 0.7924 - val_loss: 1.2528
Epoch 29/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 4ms/step - accuracy: 0.8540 - loss: 0.4167 - val_accuracy: 0.7924 - val_loss: 1.2529
Epoch 30/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 5ms/step - accuracy: 0.8562 - loss: 0.4129 - val_accuracy: 0.7924 - val_loss: 1.2530
Epoch 31/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 4ms/step - accuracy: 0.8408 - loss: 0.4384 - val_accuracy: 0.7924 - val_loss: 1.2529
Epoch 32/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 5ms/step - accuracy: 0.8396 - loss: 0.4405 - val_accuracy: 0.7924 - val_loss: 1.2531
Epoch 33/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8338 - loss: 0.4499 - val_accuracy: 0.7924 - val_loss: 1.2532
Epoch 34/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 3ms/step - accuracy: 0.8294 - loss: 0.4572 - val_accuracy: 0.7924 - val_loss: 1.2530
Epoch 35/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8240 - loss: 0.4662 - val_accuracy: 0.7924 - val_loss: 1.2532
Epoch 36/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8540 - loss: 0.4164 - val_accuracy: 0.7924 - val_loss: 1.2533
Epoch 37/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 3ms/step - accuracy: 0.8304 - loss: 0.4557 - val_accuracy: 0.7924 - val_loss: 1.2532
Epoch 38/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8544 - loss: 0.4157 - val_accuracy: 0.7924 - val_loss: 1.2532
Epoch 39/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8461 - loss: 0.4296 - val_accuracy: 0.7924 - val_loss: 1.2532
Epoch 40/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8286 - loss: 0.4587 - val_accuracy: 0.7924 - val_loss: 1.2533
Epoch 41/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8433 - loss: 0.4343 - val_accuracy: 0.7924 - val_loss: 1.2533
Epoch 42/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8305 - loss: 0.4554 - val_accuracy: 0.7924 - val_loss: 1.2533
Epoch 43/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 0s 3ms/step - accuracy: 0.8409 - loss: 0.4382 - val_accuracy: 0.7924 - val_loss: 1.2533
Epoch 44/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8510 - loss: 0.4215 - val_accuracy: 0.7924 - val_loss: 1.2534
Epoch 45/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8552 - loss: 0.4145 - val_accuracy: 0.7924 - val_loss: 1.2533
Epoch 46/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8252 - loss: 0.4642 - val_accuracy: 0.7924 - val_loss: 1.2532
Epoch 47/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8484 - loss: 0.4258 - val_accuracy: 0.7924 - val_loss: 1.2534
Epoch 48/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 3ms/step - accuracy: 0.8330 - loss: 0.4513 - val_accuracy: 0.7924 - val_loss: 1.2533
Epoch 49/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 4ms/step - accuracy: 0.8389 - loss: 0.4416 - val_accuracy: 0.7924 - val_loss: 1.2532
Epoch 50/50
118/118 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 5ms/step - accuracy: 0.8311 - loss: 0.4545 - val_accuracy: 0.7924 - val_loss: 1.2533

In [95]:
loss,accuracy=model.evaluate(x_test_scaled,y_test)
print(f"Test Loss: {loss:.4f}")
print(f"Test Accuracy: {accuracy:.4f}")

10/10 â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1s 16ms/step - accuracy: 0.7062 - loss: 16628725082840620098287287926784.0000
Test Loss: 13710144831607719647115860770816.0000
Test Accuracy: 0.7211